/* This will be the styles file for Healthy-Restaurant */
body {
  margin: 0 8%;
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: #f4511f;
  border: 0;
  color: white;
}
p {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo-section p {
  font-size: 16px;
  font-weight: 400;
  margin-left: 9px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 48px;
  font-size: 16px;
  font-weight: 400;
}
.navbar li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
  color: white;
}
.navbar button {
  border-radius: 24px;
  padding: 8px 24px;
}
.hero-section {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.left-section {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}
.next-btn {
  width: 8px;
  height: 8px;
  margin: 0 auto;
}
.dish-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: right;
  line-height: 21px;
  width: 44%;
}

.right-section {
  flex-basis: 50%;
  padding: 40px 0 2px 0;
}
.title {
  font-size: 20px;
  margin-bottom: 5px;
}
.text {
  font-size: 64px;
  line-height: 70px;
  margin: 0;
}
.description {
  max-width: 66%;
  margin-top: 36px;
}
.right-section button {
  border-radius: 8px;
  padding: 16px 28px;
  margin-top: 42px;
}
.next-hero {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 75%;
  padding-top: 48px;
}
.current-hero {
  width: 24px;
  height: 5px;
}

.services-section .title {
  font-size: 36px;
  text-align: center;
  margin: 120px 0 68px;
  line-height: 54px;
}
.services-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-width: 15%;
}
.service-name {
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
}
.service-description {
  color: #dad8d7;
  text-align: center;
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 112px;
  gap: 152px;
}
.about-left-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 32%;
}
.about-title {
  font-size: 36px;
  line-height: 54px;
}
.about-left-section button,
.discount-btn {
  width: fit-content;
  border-radius: 8px;
  padding: 16px 28px;
}
.premium-title,
.arrivals-title {
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  margin: 160px 0 72px;
}
.premium-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 68px 32px;
}
.premium-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-image {
  background: #f4511f;
  border-radius: 4px 4px 12px 4px;
  padding: 6px 4px 0px;
  align-self: flex-end;
}
.item-name {
  font-size: 20px;
  line-height: 30px;
  margin-top: 12px;
}
.category {
  font-size: 12px;
  line-height: 18px;
}
.item-price {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}
.discount-section {
  display: flex;
  margin-top: 224px;
  justify-content: center;
  gap: 116px;
}
.discount-right {
  font-size: 24px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount-btn {
  margin-top: 28px;
}

.arrivals-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.new-tag {
  font-size: 12px;
  line-height: 20px;
  background: #f4511f;
  border-radius: 4px;
  padding: 4px 8px;
  align-self: flex-start;
}
.arrivals-item {
  display: flex;
  gap: 60px;
}
.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price {
  margin-top: 18px;
}
.item-prev-price {
  color: #f4511f;
  font-size: 12px;
  line-height: 20px;
}
